# Dependency tracking
node_modules/

# Local SQLCipher/SQLite Data Sandboxes
*.db
*.db-journal
*.db-wal

# Compiled Binary Output Envelopes
apps/nias-desktop-client/dist-electron/
apps/nias-desktop-client/dist-test/
apps/nias-sync-server/dist/
apps/nias-shared/dist/
dist/
out/
*.exe

# OS Generation Files
.DS_Store
Thumbs.db

# env files
**/.env
**/.env.*
apps/nias-desktop-client/stats.html
apps/nias-sync-server/src/routes/sync.test.ts
