# Dependency tracking
node_modules/

# Local SQLCipher/SQLite Data Sandboxes
*.db
*.db-journal
*.db-wal

# Compiled Binary Output Envelopes
apps/nias-desktop-client/dist/
apps/nias-sync-server/dist/
apps/nias-shared/dist/
dist/
out/
*.exe

# OS Generation Files
.DS_Store
Thumbs.db