{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "plugins": [
    "prettier-plugin-sql",
    "prettier-plugin-embed",
    "prettier-plugin-jsdoc"
],
  "embeddedSqlTags": ["sql", "db", "query"],
  "embeddedSqlFunctionNames": ["prepare"]
}